<!doctype html>
<HTML>

<HEAD>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>
		Welcome To PG Professional
	</title>
</HEAD>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">PG Professional</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'website_home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'website_amenities' %}">Amenities</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'website_packages' %}">Packages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'guest_index' %}">Guest</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'payment_index' %}">Payment</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'vendor_index' %}">Vendor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'stay_index' %}">Stay</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'expense_index' %}">Expense</a>
				</li>
			</ul>
			<span style='float:right;'>
				<ul class="navbar-nav mr-auto">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'user_detail' user.id %}">Welcome {{ user.username }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'website_logout' %}">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'website_login' %}">Login</a>
					</li>
					{% endif %}
				</ul>
			</span>
			<form class="form-inline my-2 my-lg-0">
				{% if "user" in session %}
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<p align="right">Welcome session['user']<br>
						session['login_at'].strftime("%b %d, %Y %I:%M %p")
					</p>
				</div>
				{% else %}
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					&nbsp; </div>
				{% endif %}
			</form>
		</div>
	</nav>

	<main role="main" class="container">
		{% block info %}
		{% endblock %}
		<br/>
		<br/>
	</main>

	<!-- Start of footer -->
	<footer style="background-color: #eee6d3;">
		<div class="container p-4">
			<div class="row">
				<div class="col-lg-6 col-md-12 mb-4">
					<h5 class="mb-3 text-dark">Footer Note</h5>
					<p>
						This is footer note to show some message to the user about PG.
					</p>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<h5 class="mb-3 text-dark">Link</h5>
					<ul class="list-unstyled mb-0">
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">FAQ</a>
						</li>
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">Classes</a>
						</li>
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">Pricing</a>
						</li>
						<li>
							<a href="#!" style="color: #4f4f4f;">Safety</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<h5 class="mb-1 text-dark">Normal Operating Hours</h5>
					<table class="table" style="border-color: #666;">
						<tbody>
							<tr>
								<td>Mon - Fri:</td>
								<td>7am - 10:30pm</td>
							</tr>
							<tr>
								<td>Sat - Sun:</td>
								<td>8am - 11pm</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright:
			<a class="text-dark" href="https://pgprofessional.com/">PGProfessional.com</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- End of footer -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script>
		// Set active class to nav bar item based on current url.
		$(function () {
			$('nav li a').filter(function () {
				return this.href === location.href;
			}).addClass('active');
		});

		$(document).ready(function () {
			// Auto fade all alerts
			setTimeout(function () { $(".alert").alert('close'); }, 5000)
		});
	</script>
</body>

</HTML>